services:
  microservice-a:
    build: ./microservice-a
    container_name: service-a
    ports:
      - "5000:5000"
    networks:
      - app-network

  microservice-b:
    build: ./microservice-b
    container_name: service-b
    ports:
      - "5001:5001"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - microservice-a
      - microservice-b
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
