version: '3.9'

services:
  microservice-a:
    build: ./microservice-a
    container_name: service-a
    ports:
      - "5000:5000"
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      disable: true
      test: ["CMD", "curl", "-f", "http://localhost:5000/status"]
      interval: 10s
      timeout: 5s
      retries: 5

  microservice-b:
    build: ./microservice-b
    container_name: service-b
    ports:
      - "5001:5001"
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      disable: true
      test: ["CMD", "curl", "-f", "http://localhost:5001/status"]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      microservice-a:
        condition: service_healthy
      microservice-b:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
